dataset:
  data_dir: "data/GTSRB/"
  train_csv: "Train.csv"
  test_csv: "Test.csv"

model:
  input_shape: [32, 32, 3]
  batch_size: 64
  epochs: 20

training:
  validation_split: 0.1

attack:
  target_class: 0
  alpha: 0.1
  delta_train: 0.1
  delta_test: 0.1
  freq: 6
